
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  /* background: linear-gradient(to left, rgb(0, 2, 0), white); */
  background-image: url("https://t3.ftcdn.net/jpg/03/69/00/58/360_F_369005893_UYbUUUHDiB0HT7vs7EpO0JZ4vf830R5K.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
::selection{
  background: rgba(26,188,156,0.3);
}
.container{
  max-width: 440px;
  padding: 0 20px;
  margin: 170px auto;
}
.wrapper{
  width: 100%;
  background: linear-gradient(to left, rgb(70, 53, 70), white);
  /* background: linear-gradient(to left, rgb(0, 2, 0), white); */

  border-radius: 5px;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}
.wrapper .title{
  height: 80px;
  background: linear-gradient(to left, rgb(70, 53, 70), white);
  border-radius: 10px 10px 0 0;
  color: #100101;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form{
  height: 350px;
  padding: 30px 25px 25px 25px;
}
.wrapper form .row{
  height: 45px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .row input:focus{
  border-color: #050707;
  box-shadow: inset 0px 0px 2px 2px rgba(20, 21, 21, 0.25);
}
form .row input::placeholder{
  color: #999;

}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #0c0c0c;
  font-size: 18px;
  background: linear-gradient(to left, rgb(70, 53, 70), white);
  border: 1px solid linear-gradient(to left, rgb(70, 53, 70), white);
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{
  color: #040c0b;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .pass a:hover{
  text-decoration: underline;
}
.wrapper form .button input{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  background: linear-gradient(to left, rgb(70, 53, 70), white);

  border: 1px solid floralwhite;
  cursor: pointer;
}
form .button input:hover{
  background: linear-gradient(to right, rgb(70, 53, 70), white);
}
.wrapper form .signup-link{
  text-align: center;
  margin-top: 20px;
  font-size: 17px;
}
.wrapper form .signup-link a{
  color: #090f0e;
  text-decoration: none;
}
form .signup-link a:hover{
  text-decoration: underline;
}